<div class="center jumbotron">
    <h1>Welcome to My Receipes App</h1>
    <h2>
        This is the home page for the professional Ruby on Rails developer course on Udemy
    </h2>
    <%= link_to "Sign up now", "", class: "btn btn-lg btn-success" %>
</div>
<div class="row">
    <div class="col-lg-4">
        <h3 class="midrow">
            View Receipes as Guest user
        </h3>
        <h2 class="left">Browse and view receipes as a guest and Sign up later</h2>
        <p><%= link_to "Browse Receipe Listings", recipes_path, class: "btn btn-warning btn-small" %></p>
    </div>
        <div class="col-lg-4">
        <h3 class="midrow">
            View Receipes as Guest user
        </h3>
        <h2 class="left">Browse and view receipes as a guest and Sign up later</h2>
        <p><%= link_to "Browse Receipe Listings", "", class: "btn btn-warning btn-small" %></p>
    </div>
        <div class="col-lg-4">
        <h3 class="midrow">
            View Receipes as Guest user
        </h3>
        <h2 class="left">Browse and view receipes as a guest and Sign up later</h2>
        <p><%= link_to "Browse Receipe Listings", "", class: "btn btn-warning btn-small" %></p>
    </div>
</div>